<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  <link rel="stylesheet" id="carouselskin-css"  href="/css/jcarousel-skin.css?ver=3.4.2" type="text/css" media="all" />
  <link rel="stylesheet" id="tabs-css"  href="/css/jquery.ui.tabs.css?ver=1.8.16" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />
  <link rel="stylesheet" id="nivo-css"  href="/css/nivo.css" type="text/css" media="all" />
  <link rel="stylesheet" id="wpsc-default-css"  href="/css/wpsc-default.css" type="text/css" media="all" />

</head>

<body class="home blog">
<div id="headBanner"><p>Welcome to our new site!</p></div>

<div id="container">

<header id="header" class="clearfix" role="banner">
<h1 id="logo"><a href="http://catnap-creations.com/">
<img src="/images/catnap_logo_trans.png"/>
</a>
</h1>

<nav id="main-nav" class="clearfix" role="navigation">
<ul class="menu">
<li><a href="/">Home</a></li>
<li><a href="/shop.html">Shop</a></li>
<li><a href="/about.html">About</a></li>
</ul>
</nav>
</header>

<div class="clear"></div>
<div id="main" role="main">
<section id="main-content" class="content">

{{ content }}


<section class="promoBanner">
<p>Please <a href="mailto:sales@catnap-creations.com" style="text-decoration: underline">email</a> us with any questions you may have, custom orders welcome!</p>
</section>

</section>
</div> <!-- main -->
</div> <!-- container-->


<footer id="footer" role="contentinfo">
<div class="renda">&nbsp;</div>
<span>
<div id="footer-4" class="social footer">
<section id="archives" class="widget widget-container">
<h3 class="widget-title">Follow Us</h3>
<div class="widget follower-widget">
<ul>
<li class="aRss follow"><a href="http://catnap-creations.com/rss.xml">Our RSS Feed</a></li>
</ul>
</div
</section>
</div>
</span>


</footer>
</div>
<footer class="copyright">
<section>
<div>
<p>&copy; 2012-2014 <a href="http://catnap-creations.com/">Catnap-Creations</a> All rights reserved. Original WordPress <a href="http://tokokoo.com/tokokoo-themes/">Balita Theme</a> by <a href="http://tokokoo.com"></a>Tokokoo<br/>
</section>
</footer>

<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/js/ui/jquery.ui.core.min.js?ver=1.8.20"></script>
<script type="text/javascript" src="/js/ui/jquery.ui.widget.min.js?ver=1.8.20"></script>
<script type="text/javascript" src="/js/ui/jquery.ui.tabs.min.js?ver=1.8.20"></script>
<script type="text/javascript" src="/js/plugins.js?ver%5B0%5D=jquery"></script>
<script type="text/javascript" src="/js/script.js?ver%5B0%5D=jquery"></script>

</body>
</html>
